@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

.wrapper{
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(#ed5f47, #fe2d3b);
  height: 100vh;
  padding: 0 100px;
}

.grid-container{
  display: inline;
}

header ul li{
  float: left;
  list-style-type: none;
}

header .logo img{
  height: 90px;
}

.navigation{
  padding-left: 50px;
  box-sizing: border-box;
  margin-left: 80px;
}

.navigation li{
  margin-right: 40px;
}

header ul li a{
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-size: 0.7em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

header ul{
  margin-top: 35px;
}

.separate{
  display: flex;
  justify-content: space-between;
  bottom: 3px;
}

.separate li:nth-child(1) a{
  font-size: 24px;
  position: relative;
}

.separate li:nth-child(2) a{
  letter-spacing: 12px;
}

.separate li:nth-child(3) a{
  position: relative;
}

.separate li:nth-child(3) a span{
  position: absolute;
  bottom: 11px;
  background: black;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 52px;
}

/* #####################
###############
################### */

section{
  padding: 8em 0em 12em 0;
  margin-top: -40px;
}

.display{
  height: 360px;
  position: relative;
  font-family: 'Gotham', sans-serif;
  color: #fff;
  font-style: italic;
}

.display h1{
  text-transform: uppercase;
  font-size: 8.2em;
  font-weight: 800;
  float: right;
}

.display h1::before{
  content:" \" ";
  font-size: .12em;
  position: absolute;
  top: 1.6em;
  left: 13em;
}

.display h1::after{
  content:" \" ";
  font-size: .12em;
  position: absolute;
  bottom: 4.3em;
  right: 1em;
}

.display h2{
  float: right;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  top: 8.5em;
  left: 16.5em;
}

.display img{
  position: absolute;
  bottom: 3em;
  height: 21em;
  /* float: left; */
  left: 13em;
  transform: rotate(-17deg);
}

section .details{
  position: relative;
  left: 9.3%;
  /* margin-right: -15em; */
}

section .details .brand{
  display: flex;
  align-items: center;
  margin-bottom: 2em;
  margin-left: -2em;
}

section .details .brand .brand-name h1{
  text-transform: uppercase;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  /* margin-left: -1.02em; */
  /* padding-right: 20px;  */
  font-style: italic;
  color: white;
}

section .details .brand .rating{
  margin-left: -2em;
}

section .details .brand .rating ul li{
  float: left;
  list-style-type: none;
  color: yellow;
  margin-right: 3px;
  font-size: 1.3em;
}

section .details .brand .rating ul li:last-child{
  color: white;
}

section .details .product-details{
  width: 90%;
  margin-right: -1.1em;
  /* margin-bottom: 16em; */
}

section .details .product-details .category{
  margin-bottom: 10px;
}

section .details .product-details a{
  color: white;
  text-transform: capitalize;
  font-size: .7em;
  text-decoration: none;
  display: block;
  font-family: 'Mada', sans-serif;
}

section .details .product-details .product-name h2{
  color: white;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.4em;
  margin-bottom: .5em;
  font-family: 'Montserrat', sans-serif;
}

section .details .product-details .product-description p{
  color: white;
  font-family: 'Mada', sans-serif;
  font-size: .9em;
  margin-bottom: 15px;
  line-height: 1.3em;
  padding-right: 7em;
}

section .details .product-details .product-description ul{
  padding-left:15px;
  margin-bottom: 1em;
}

section .details .product-details .product-description ul li{
  color: white;
  text-transform: capitalize;
  font-size: .8em;
  font-family: 'Mada', sans-serif;
  line-height: 1.5em;
}

section .details .product-details .product-description a{
  text-decoration: underline;
}

section .details .product-details .product-size-select{
  position: relative;
  margin: 13px 0;
}

section .details .product-details .product-size-select i{
  color: yellow;
  position: absolute;
  font-size: 1.5em;
  /* margin-top: 5px; */
}

section .details .product-details .product-size-select select{
  padding: 5px;
  margin-left: 20px;
  border: none;
  -webkit-appearance: listbox;
  appearance: none;
  width: 100px;
  background: none;
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: .9em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  outline: none;
}

section .details .product-details .product-size-select option{
  color: #fe2d3b;
  font-weight: 500;
}

section .details .product-details .product-btn-price{
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  margin-top: 35px;
  margin-left: -28%;
}

section .details .product-details .product-btn-price button{
  background: none;
  border: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: .65em;
  letter-spacing: .3em;
  cursor: pointer;
}

section .details .product-details .product-btn-price .price{
  color: white;
  margin-left: -10%;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  letter-spacing: .1em;
}
